.EndPage {
    height: 25rem;
    width: 100%;
    background-color: rgb(47, 46, 57);
    display: flex;
    word-break: break-word;
    padding-bottom: 4rem;
    border-top: 2px solid white;
}

.end-contents {
    height: 75%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    white-space: normal;
    margin: auto;
    column-gap: 2rem;
}

.contact-box {
    background-color: rgb(64, 70, 110);
    padding: 2rem;
    border: 4px white solid;
}

.git {
    font-weight: bold;
    letter-spacing: 0.75px;
    color: black;
    margin-left: 2rem;
    height: 2.5rem;
    width: 6rem;
    font-size: 24px;
}

.git:hover {
    color: white;
}

.email-header {
    color: white;
    margin-left: 1rem;
}

.contact-info {
    margin-top: 1rem;
}

.email {
    color: black;
    font-size: 32px;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: -1rem;
}

.react-link {
    color: rgb(117, 183, 205);
    font-weight: bold;
}

.react-link:hover {
    color: white;
}

.creation-info {
    background-color: rgb(64, 70, 110);
    padding: 2rem;
    border: 4px white solid;
}