body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

:root {
  --main-header-text-color: rgb(255, 216, 0);
  --main-background-color: Black;
  --secondary-background-color: rgb(34, 34, 34);
  --main-text-color: White;
}